:root {
    --color-primary-light: #f8f8f8;
    --color-secondary:hsl(189, 32%, 33%);
    --header-height: 2em;
    --nav-width: 10em;
    --box-shadow: 10px 10px 20px #dddddd,
        -10px -10px 20px #ffffff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color--light);
    text-decoration: none;
    color: inherit;
}


body {
background-color: var(--color-primary-light);
}

header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    background-color: var(--color-secondary);
    color: var(--color-primary-light);
    z-index: 10;

}
header p {
background-color: #dddddd00;
font-weight: 800;
font-size: 3rem;
}

main {
    display: flex;
    margin-left: var(--nav-width);
    flex-direction: column;
   background-color: var(--color-primary-light);

}

nav {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: var(--nav-width);
    background-color: var(--color-primary-light);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}
a {
font-size: .8em;
}
nav > ul {
    list-style: none;
    margin-top: calc(var(--header-height) *2);
    position:sticky;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

nav > ul > li {
    margin-bottom: .3em;
    padding-left: 2em;
    width: 100%;

}

main section {
    
    padding: .5em;
    margin: .5em;
    border-radius: 30px;

}

main section p {
    margin-left: 1rem;
    font-weight: 600;
    color: #000000a8;
    padding-top: .5em;
    border-top: 1px solid #ffffff;

}

.products-wrapper {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* align-items: center;  */
    margin-top: .5em;
    border-radius: 30px;
    background-color: var(--color-primary-light);

  
}

.card {
    width: fit-content;
    height: fit-content;
    border-radius: 30px;
    background-color: var(--color-primary-light);
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
    border: 1px solid #ffffff34;
    margin:0em 2em;
}

.image_container {
    overflow: hidden;
    cursor: pointer;
    position: relative;
    z-index: 5;
    width: 100%;
    height: 8rem;
    background-color: var(--color-primary-light);
    border-radius: 0.5rem;
    transition: 1s;
}

.image_container:hover {
    scale: 1.2;
    transition: 0.5s;
}


.image_container img {
    position: absolute;
    border-radius: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: contain;
    border: solid 1px #ffffff;
    background-color: rgba(255, 255, 255, 0.445);

}

.title {
    overflow: clip;
    margin-top: 1.5rem;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: var(--light);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.list-size {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    margin-top: 0.25rem;
}

.action {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.price {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--light);
}

.cart-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    padding: 0.5rem;
    width: 100%;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--light);
    text-wrap: nowrap;
    border: 1px solid var(--color-secondary);
    border-radius: 0.5rem;
    
}

button.cart-button:hover, .cart-button:hover>* {
    background-color: var(--color-secondary);
}


.cart-button .cart-icon {
    width: 1rem;
}